*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    line-height: 80px; /* centrare verticalmente in corrispondenza dell'height */
    background-color: rgba(49,96,225,255);
}

main{
    width: 100%;
    height: 70vh;
}

a{
    text-decoration: none;
}


.clearfix{  
    content: "";
    clear: both;
    display: table;
}

.container{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    max-width: 1180px;
    
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

header section .main-nav li{
    display: inline;
}

header section .main-nav a{
/*     text-decoration: none; */
    color: whitesmoke;
}

/* posso usare questa scorciatoia oppure andare a crearmi un "comando" da aggiugere dìrettamente alla div /section desiderata */
/* section div, nav{
    float:left;
} */

section .logo img{
    vertical-align: middle;
}

.main-nav{
    width: calc(100% - 201px);
    text-align: center;
}

/* molto probabilemnte lo andrò ad utilizzare nel footer  (e infatti me ne sono dimenticato del comando)*/
.word-spacing{
    word-spacing: 20px;
}

.jumbotron, .description, .header-foot{
    width: 100%;
    height: 70vh;
    /* background-color: blueviolet; */
    /* position:relative; */
}

/* ! posizionamento oggetti nel flusso */

.relative{
    position:relative; /* funge da chiodo per appenderci gli absolut */
}

.absolute{
    position: absolute;
}

.jumbotron img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* position: relative; */
} 

/* .jumbotron-txt{
    width: calc(100% - 168.02px);
    text-align: center;
} */

/* .position-absolute{
    position: absolute;
} */

.jumbotron-txt{
    position: absolute;
    width: 660px;
    height: 400px;
    text-align: center;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
 /*    color: white; */
}

section .jumbotron-txt h1 {
    margin-bottom: 25px;
    font-size: 3.1em;
}

section .jumbotron-txt p{
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 30px;
}

/* generico per i botton */

.button{
    font-size: 1.1em;
    padding: 10px;
    border-radius: 5em;
    border: none;
}


.aside-sx{
    width: 65%;
    height: 100%;
    
}

.aside-dx{
    width: calc(35% - 7em);
    height: 100%;
/*     padding-top: 40px; */
}

section .aside-dx > h1{
    font-size: 2.2em;
    margin-bottom:20px;
}

section .aside-dx > p{
    font-size:1.1em;
    line-height: 1.5em;
}

.line-height h1{
    margin-bottom: 25px;
    font-size: 2.2em;
}

.line-height p{
    font-size: 1.1em;
}

/* !posizionamento test e interlinea */

.line-height{
    line-height: 30px;
}

.txt-position-size{
    text-align: center;
}


/*! gestione colori testo */

.smoke{
    color: whitesmoke;  
}

.white{
    color: white;
}

.blue{
    color: rgba(115,137,219,255);
}

/*! gestioni colori back-ground o sfondo */
.back-black{
    background-color: black;
}

.back-lightgray{
    background-color: rgb(245, 245, 245);
/*     padding: 60px; */
}

.back-blue{
    background-color: rgba(115,137,219,255);
}
.black-foot{
    background-color: rgba(35,38,43,255);
}

/*! padding e margin ripetitivo  */

.padding{
    padding: 15px;
}

.margin-bottom-h1{
    margin-bottom: 25px;
}

.margin-bottom{
    margin-bottom: 50px;
}

.margin-right{
    margin-right: 7em;
}

.padding-top{
    padding-top: 40px;
}

.padding-top-top{
    padding-top:40px;
}

.margin-right-bottom{
    margin-right: 15px;
}

.stelle{
    width: 100%;
    height: 50px;
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-foot  section nav, ul{
    padding-top: 5em;
    display: inline;
    margin-left: 4em;
}



.body a {
    color: whitesmoke;  
}

.header-foot section nav ul li{
    list-style: none;
    line-height: 35px;
    
}

nav ul li .title{
    color: rgba(115,137,219,255);
}

footer section .talk-social h1{
    color: rgba(115,137,219,255);
}

footer section .talk-social img{
    width: 10%;
    margin: 1em 0;
    vertical-align: middle;
}
footer section .talk-social p{
    display: inline-block;
    margin: 0 5px;
/*     margin-left: 5px;
    margin-right: 5px; */
    color:whitesmoke;
}

footer section .talk-social{
    width: 20%;
    height: 70%;
    padding-top: 5em;
}

.talk-social .icons{
    display: block;
    
}

.talk-social i{
    margin-right: 1em;
    color: whitesmoke;
}

.foot-footer{
    width: 100%;
    padding-top: 2em;
    border-top: 1px solid rgba(115,137,219,255);
}

.footer-menu{
    margin-bottom: 1.5em;
}

.description .button i, .jumbotron-txt .button i{
    margin: 0 10px;
}